body {
  height: 100%;
  margin: 0px;
  background: url(images/cloud.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grid {
  margin: 4rem auto;
  width: min(90%, 75rem);
  display: grid;
  grid-template-columns: 75% 25%;
}

label {
  color: yellow;
  padding: 8px;
  font-style: oblique;
}

h1 {
  color: green;
}
